
/*Estilos generales */

{
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

body { 
  font-family: sans-serif;
  color: #333;
  /* width: 100%; 
  margin: 0px; 
  font-size: 30px; */

  background-color: #f4f4f4;
  line-height: 1.6; /*Espacio entre lineas */

} 

header, nav, main, footer {
  width: 90%;
  max-width:1200px;
  margin: 20px auto; /*Centra los bloques de la página */

}

header {
  background-color: #5a3a22;
  color: #fff;
  text-align: center; /*Centra el texto del encabezado */
  border-radius: 8px; /*Redondea las esquinas */

}

/*Nav --- Navegación */
nav ul{
  list-style: none;
  display: flex; /*Usa flexbox para alinear los items horizontalmente */
  justify-content: center; /*Centra los items del menú */
  gap: 20px; /*Espacio entre los elementos del menú */
}

nav a{
  text-decoration: none; /*Quita la decoración de los enlaces */
  color: #5a3a22;
  font-weight: bold; /*texto en negrita */ 
}

nav a:hover{
  color: #c5a880; /*Cambia el color al pasar el cursor */

}



p {
   font-size: 30px;
   color: #c1370d; 
}